<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="row">
        <div class="col-md-10 mr-auto ml-auto">
    <h1>Proposal simplifier</h1>
    <form>
        <div class="container">
            <div class="row">
                <div id="chatbox" class="col-6">
                    <div class="col-md-8 ml-auto mr-auto">
                    </div>
                </div>
                <div id="userInput" class="col-6">
                        <label for="key">key:</label>
                        <input id="key" type="text" name="key" placeholder="Key" class="form-control" size="9" value="1111111111111111">

                        <br>
                        <label for="top_p">Top P:</label>
                        <input id="top_p" type="range" min="0" max="1" value="1" step="0.01" name="temperature_response" placeholder="Temperature response" class="form-control" oninput="this.nextElementSibling.value = this.value">
                        <output>1</output>

                        <br>
                        <label for="temperature_response">Temperature:</label>
                        <input id="temperature_response" type="range" min="0" max="1" value="0.8" step="0.01" name="temperature_response" placeholder="Temperature response" class="form-control" oninput="this.nextElementSibling.value = this.value">
                        <output>0.8</output>
                        <br>
                        <label for="top_p">Mode:</label>
                        <select id="mode">
                          <option value="nas">nas</option>
                          <option value="ETS">ETS</option>
                          <option value="TLDR">TLDR</option>
                          <option value="terms">terms</option>
                          <option value="empty">empty</option>
                        </select>
                        <label for="cut_off">Cut off:</label>
                        <input id="cut_off" type="checkbox" name="cut_off" placeholder="Cut off" class="form-control" checked>
                        <label for="regen">Regen:</label>
                        <input id="regen" type="number" name="regen" placeholder="Regen" class="form-control" size="1" value="0" step="1" style="width: 2em">
                        <br>
                        <label for="max_tokens">Tokens:</label>
                        <input id="max_tokens" type="number" name="max_tokens" placeholder="Max tokens" class="form-control" size="0.5" value="125" step="1">
                        <button type="submit" id="send" class="btn btn-warning">Send</button>
                        <br>
                        <textarea id="text" name="user_message" placeholder="Prompt" class="form-control" rows="30" cols="40">As described on this post, Sigma Prime has prepared a proposal to provide continuous security assessment services to the Aave ecosystem, provisioning up to 280 person-days of effort (240 + 40 optional) allocated throughout 7 testing windows, and spread over a period of 12 months.

Sigma Prime has been providing security assessment services to Aave for the past 2.5 years, reviewing critical components such as Aave v2 and Aave v3, along with various other changes made to the lending platform.

This preliminary Snapshot vote serves to obtain approval from the community on the outlined proposal.</textarea>
                </div>
            </div>
        </div>
    </form>
</div>
</div>

<script>
    $(document).ready(function() {
        $("form").on("submit", function(event) {
            var cut_off = $("#cut_off")[0].checked;
            $('#checkbox').prop('checked')
            console.log(cut_off);
            var regen = $("#regen").val();

            var rawText = $("#text").val();
            rawText = rawText.replace(/(?:\r\n|\r|\n)/g, '<br>');
            if (rawText == ""){
                rawText = "/empty prompt/"
            }
            var max_tokens = $("#max_tokens").val();
            var top_p = $("#top_p").val();
            var mode = $("#mode").val();
            var temperature_response = $("#temperature_response").val();
            var keyText = $("#key").val();
            var userHtml = '<p class="userText">' + '<b>Text:</b><br>' + rawText + "</p>";
            $("#chatbox").append(userHtml);
            document.getElementById("userInput").scrollIntoView({
                block: "start",
                behavior: "smooth",
            });
            $.ajax({
                data: {
                    max_tokens: max_tokens,
                    top_p: top_p,
                    mode: mode,
                    temperature_response: temperature_response,
                    user_message: rawText,
                    key: keyText,
                    cut_off: cut_off,
                    regen: regen
                },
                type: "POST",
                url: "/post",
            }).done(function(data) {
                var obj = JSON.parse(data);
                obj = obj.replace(/(?:\r\n|\r|\n)/g, '<br>');
                console.log(obj)
                var botHtml = '<p class="botText">' + '<b>Result:</b><br>' + obj + '</p>' + '<hr>';

                $("#chatbox").append($.parseHTML(botHtml));


                document.getElementById("userInput").scrollIntoView({
                    block: "start",
                    behavior: "smooth",
                });
            });
            event.preventDefault();
        });
    });
</script>
</body>

</html>